<h1>Profile</h1>

<div class="card-product">
  <%= cl_image_tag current_user.avatar_id, class: "avatar-guide" %>
  <div class="card-product-infos">
  <p><strong>Email</strong>: <%= @user.email %></p>
  <p><strong>First Name</strong>: <%= @user.first_name %></p>
  <p><strong>Last Name</strong>: <%= @user.last_name %></p>
</div>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-center mt-5">
<%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-outline-primary" %>
<div class="log_out">
    <% unless current_page?(new_user_session_path) %>
      <% if user_signed_in? %>
        <%= button_to "logout", destroy_user_session_path, method: :delete, class: "btn btn-secondary m-4 align-self-end"  %>
      <% else %>
        <%= button_to "Log in", new_user_session_path, method: :get, class: "btn btn-primary m-4"  %>
      <% end %>
    <% end %>
  </div>
</div>
