<h1>Profile</h1>

<div class="card-product">
  <div class="card-product-infos">
  <p><strong>Email</strong>: <%= @user.email %></p>
  <p><strong>First Name</strong>: <%= @user.first_name %></p>
  <p><strong>Last Name</strong>: <%= @user.last_name %></p>
</div>
</div>
<div class="btn-group">
<%= link_to 'Edit Profile', edit_user_registration_path, class: "logout-btn red-btn-edit" %>
<div class="log_out">
    <% unless current_page?(new_user_session_path) %>
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete }, class: "logout-btn blue-btn-edit"  %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, method: :get, class: "btn btn-primary m-4"  %>
      <% end %>
    <% end %>
</div>
</div>
