<footer>
  <div class="footer-container">
    <div class="footer-section <%= 'current-section' if current_page?(root_path) %>">
      <%= link_to root_path do %>
        <i class="fa-solid fa-magnifying-glass"></i>
        <h3>Explore</h3>
      <% end %>
    </div>
    <div class="footer-section">
      <% if user_signed_in? %>
        <div class="footer-section <%= 'current-section' if current_page?(my_tours_path) %>">
            <%= link_to my_tours_path do %>
              <i class="fa-regular fa-heart"></i>
              <h3>My Tours</h3>
            <% end %>
        </div>
      <% else %>
        <div class="footer-section <%= 'current-section' if current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>">
          <%= link_to new_user_session_path do %>
          <i class="fa-solid fa-right-to-bracket"></i>
          <h3>Log In / Sign Up</h3>
          <% end %>
        </div>
      <% end %>
    </div>
      <% if user_signed_in? %>
        <div class="footer-section <%= 'current-section' if current_page?(profile_path) %>">
          <%= link_to profile_path do %>
            <i class="fa-regular fa-user"></i>
            <h3>Profile</h3>
          <% end %>
        </div>
        <% end %>
      <% if user_signed_in? %>
        <div class="footer-section <%= 'current-section' if current_page?(new_tour_path) %>">
          <%= link_to new_tour_path do %>
            <i class="fa-solid fa-plus"></i>
            <h3>Create Tour</h3>
          <% end %>
        </div>
      <% end %>
    </div>
</footer>
