

<h1>Create Your Own Tour</h1>
<%= simple_form_for @tour do |f| %>
  <div>
    <%= f.input :description, presence: true, error: 'Descrition is mandatory' %>
    <%= f.input :title, presence: true %>
    <%= f.input :duration, presence: true, numericality: { only_integer: true }%>
    <%= f.input :max_spots, presence: true, numericality: { only_integer: true } %>
  </div>
  <div>
    <%= f.input :price_per_person, presence: true, numericality: { only_integer: true } %>
    <%= f.input :date, presence: true %>
    <%= f.input :category_id, presence: true, collection: Category.all %>
  </div>
  <div>
    <%= f.input :language, presence: true, collection: ["Spanish", "English", "French", "Swedish"] %>
    <%= f.input :location, presence: true, collection: ["Barceona", "Madrid", "Tolouse", "Stockholm", "Buenos Aires"] %>
  </div>
  <%= f.submit %>
<% end %>
