
<h1>Tour Show Page</h1>

<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @tour.title %> in <%= @tour.location %> | Language: <%= @tour.language %></h2>

      <p>Duration: <%= @tour.duration %> min</p>
      <p>Spots left: <%= @tour.max_spots%> - spots booked</p>
      <p>What makes the tour special: <%= @tour.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= @tour.price_per_person %> € per person</h2>
    <h3 class="card-trip-pricing"> Guide: <%= @tour.user.first_name %></h3>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob"
    class="card-trip-user avatar-bordered" />

  </div>
</div>

# Show Booking_form if user is Guide through tour created
# Show Clients_booked if user is Client through tour booked

if @tour.user_id = @user.id as in logged in user_id 🔴 # HOW TO GET @user??
  show Guide version

if @tour.user_id != @user.id
