<div data-controller="review-rating">
  <%= form_with url: booking_reviews_path, method: :post do |f| %>
    <div class="review-form-group">
      <div class="review-form-group-rating">
        <label>
          <%= f.radio_button :rating, '1', class: 'star star1', data: { action: "click->review-rating#rating1" }%>
          <i class="fa-solid fa-star star-rating star-rating1" data-review-rating-target="firstStar"></i>
        </label>
        <label>
        <%= f.radio_button :rating, '2', class: 'star star2',  data: { action: "click->review-rating#rating2" }%>
        <i class="fa-solid fa-star star-rating star-rating2" data-review-rating-target="secondStar"></i>
        </label>
        <label>
        <%= f.radio_button :rating, '3', class: 'star star3', data: { action: "click->review-rating#rating3" }%>
        <i class="fa-solid fa-star star-rating star-rating3" data-review-rating-target="thirdStar"></i>
        </label>
        <label>
        <%= f.radio_button :rating, '4', class: 'star star4', data: { action: "click->review-rating#rating4" }%>
        <i class="fa-solid fa-star star-rating star-rating4" data-review-rating-target="fourthStar"></i>
        </label>
        <label>
        <%= f.radio_button :rating, '5', class: 'star star5', data: { action: "click->review-rating#rating5" }%>
        <i class="fa-solid fa-star star-rating star-rating5" data-review-rating-target="fifthStar"></i>
        </label>
      </div>
      <%= f.text_area :content, class: 'review-content', placeholder: 'Share your experience', as: :textarea %>
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
