<!DOCTYPE html>
<html>
  <head>
    <title>TourIst</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
      <% if user_signed_in? %>
        <%= button_to "logout", destroy_user_session_path, method: :delete, class: "btn btn-danger m-4"  %>
      <% else %>
        <%= button_to "Log in", new_user_session_path, method: :get, class: "btn btn-primary m-4"  %>
      <% end %>
  </nav>
    <%= yield %>
  </body>
</html>
